body {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    font-size: 25px;
    background-color: rgb(176, 173, 179);
    grid-template-areas: 'header header header''body body body';
}

header {
    text-align: center;
    background-color: royalblue;
    color: aliceblue;
    padding: 10px;
    grid-area: header;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    grid-area: body;
    width: 100%;
}

#controls {
    padding: 100px;  
    width: 50%; 
    align-self: center;
}

#buttons {
    margin-left: auto;
    margin-left: 30%;
    padding: 10px;
}

#country {
    width: 60%;
    height: 30px;
    align-self: start;
}

#countries{
    border-style: none;
    color: aliceblue;
    background-color: royalblue;
    border-radius: 10%;
    height: 25px;
}
#cities {
    border-style: none;
    background-color: greenyellow;
    border-radius: 10%;
    height: 25px;
}

#result {
    text-align: left;
}